body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}

#container {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 300px;
  background: #f7f7f7;
  border-right: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

#map {
  flex: 1;
}

input, button {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  box-sizing: border-box;
}

.field-item {
  padding: 6px;
  background: #e0f7fa;
  margin-top: 5px;
  border-radius: 4px;
}
